<div class="background" [style.background-image]="image" [style.height]="height" [style.width]="width">
  <div class="login-form">
    <form>
      <div class="logo">
        <img src="/assets/_images/logo/logo-angular.png" alt="logo">
      </div>
      <h2 class="text-center">Angular Basic App</h2>
      <div class="form-group">
        <input type="text" class="form-control" name="usuario" placeholder="Usuário" required="required">
      </div>
      <div class="form-group">
        <input type="senha" class="form-control" name="senha" placeholder="Senha" required="required">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Acessar</button>
      </div>
      <div class="clearfix">
        <label class="float-left checkbox-inline"><input type="checkbox">Lembrar a senha?</label>
        <a href="#" class="float-right">Esqueceu a sua senha?</a>
      </div>
    </form>
  </div>
</div>