<div class="accordion-basic-app">
  <div class="accordion">
    <div class="card">
      <div class="card-header cursor basic-app-accordion-topo" (click)="toggleAccordion()">
        <h5 class="mb-0" style="">
          <i class="fa fa-search-plus" aria-hidden="true"></i>
          Pesquisa Avançada
        </h5>
      </div>

      <div class="collapse show" [class.visible]="accordionState == 'visible'" [@toggleAccordion]="accordionState">
        <div class="card-body accordion">
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </div>
</div>