<div class="container py-5">
    <div class="row">
         <div class="col-md-2 text-center">
              <p><i class="fa fa-exclamation-triangle fa-5x"></i><br/>Código: 403</p>
         </div>
         <div class="col-md-10">
              <h3>OPPSSS!!!! Desculpe, mas você está sem permissão para acessar esta funcionalidade.</h3>
              <p>Para solicitar acesso a ferramenta, entre em contato com o ServiceDesk atraves da ferramenta do Univirtus.<br/></p>
              <a class="btn btn-danger" href="javascript:history.back()">Voltar</a>
         </div>
    </div>
</div>