<div class="page-wrap d-flex flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <span class="display-3 d-block">Bem Vindo!</span>
        <div class="mb-4 lead">Bem vindo ao Portal Template. Descreva aqui, um resumo de sua aplicação</div>
      </div>
      <div class="col-md-12 ">
        <h4 class="text-center">Descrição do Template:</h4>
        <div class="mb-4 ">
          <p class="text-center">Este Template conta com as seguintes configurações:</p>
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <ul>
                  <li>Configuração para apresentação de menu</li>
                  <li>Exemplo de um CRUD de usuários</li>
                  <li>Autocomplete</li>
                  <li>Pipes</li>
                  <li>Directives</li>
                  <li>Validators</li>
                  <li>Intercepetor para inserção de cabeço com o token nas requisições</li>

                </ul>
              </div>
              <div class="col-sm">
                <ul>
                  <li>Configuração para apresentação de menu</li>
                  <li>Exemplo de um CRUD de usuários</li>
                  <li>Autocomplete</li>
                  <li>Pipes</li>
                  <li>Directives</li>
                  <li>Validators</li>
                  <li>Intercepetor para inserção de cabeço com o token nas requisições</li>

                </ul>
              </div>
              <div class="col-sm">
                <ul>
                  <li>Configuração para apresentação de menu</li>
                  <li>Exemplo de um CRUD de usuários</li>
                  <li>Autocomplete</li>
                  <li>Pipes</li>
                  <li>Directives</li>
                  <li>Validators</li>
                  <li>Intercepetor para inserção de cabeço com o token nas requisições</li>

                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>