@import "~bootstrap/dist/css/bootstrap.css";

/******** System ***********/

.wrapper {
    display: flex;
    align-items: stretch;
    /* background: #29487a!important; */
}

.swal2-container {
    z-index: 9999 !important;
}

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    background-color: #f2f3f8;
}

.wrapper.basic-app-menu-base {
    flex: none!important;
    position: sticky!important;
    top: 0!important;
    left: 0!important;
    height: -webkit-fill-available!important;
    z-index: 9999!important;
    overflow: hidden!important;
}

.navbar.basic-app-header-navbar {
    flex: none!important;
    position: sticky!important;
    top: 0!important;
    left: 0!important;
    z-index: 9999!important;
    overflow: hidden!important;
}

.loading-text {
    top: 50% !important;
}

.card-header {
    background-color: transparent!important;
}

.basic-app-accordion-topo h5 i {
    margin-left: 5px!important;
    margin-right: 5px!important;
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(252, 181, 21, 0.25)!important;
}


/* BOTÕES */


.basic-app-box-btn {
    display: block!important;
    overflow: hidden!important;
    height: 50px!important;
}

.basic-app-btn-padrao {
    font-size: 0.9rem!important;
    color: #fff!important;
    background-color:#1e3560!important;
    border-color: #1e3560!important;
    line-height: 1.5!important;
    border-radius: 0.2rem!important;
    height:34px!important;
    cursor: pointer!important;
    /* z-index:8888!important; */
    margin:3px!important;
    float:right!important;
}

.basic-app-btn-padrao:focus, .basic-app-btn-padrao.focus {
    box-shadow: 0 0 0 0.2rem rgba(252, 181, 21, 0.5)!important;
}

.basic-app-btn-padrao:hover {
    background-color: #31548c!important;
}

.basic-app-btn-padrao span {
    font-size: 0.9rem!important;
    padding: 0.5rem!important;
}


.basic-app-btn-secundario {
    font-size: 0.9rem!important;
    color: #5A738E!important;
    background-color: #fff!important;
    border-color: #ccc!important;
    line-height: 1.5!important;
    border-radius: 0.2rem!important;
    height:34px!important;
    cursor: pointer!important;
    /* z-index:8888!important; */
    margin:3px!important;
    float:right!important;
}

.basic-app-btn-secundario:focus, .basic-app-btn-secundario.focus {
    box-shadow: 0 0 0 0.2rem rgba(252, 181, 21, 0.5)!important;
}

.basic-app-btn-secundario:hover {
    color: #333!important;
    background-color: #e6e6e6!important;
    border-color: #adadad!important;
}

.basic-app-btn-secundario span {
    font-size: 0.9rem!important;
    padding: 0.5rem!important;
}

.basic-app-btn-icon {
    font-size: 1.1rem!important;
}


.basic-app-btn {
    width: 40px!important;
    height: 40px!important;
    display: inline-block!important;
    position: relative!important;
    text-align: center!important;
    white-space: nowrap!important;
    vertical-align: middle!important;
    user-select: none!important;
    border: 1px solid transparent!important;
    border-radius: 60px!important;
    margin: 2px!important;
    color: #575962!important;
    line-height: 1.5!important;
    background-color: #ffffff!important;
    background-image: none!important;
    border-color: #c4c5d6!important;
    font-weight: 300!important;
    font-family: Poppins!important;
    cursor: pointer!important;
}

.basic-app-btn:hover {
  background: #fcb515!important;
  color:#111!important;
  border-color:#fcb515!important;
}

.basic-app-btn i {
    font-size: 1.3rem!important;
    padding: 10px!important;
    position: relative!important;
    overflow: hidden!important;
}



/* ACCORDION */


.accordion-basic-app .accordion .card {
    border: 0px!important;
    background-color: #f2f3f8!important;
}

.basic-app-accordion-topo {
    height: 71px!important;
    display: table!important;
    background-color: transparent!important;
}

.basic-app-accordion-topo h5 {
    display: table-cell!important;
    vertical-align: middle!important;
    text-align: left!important;
    color: #b2b1c5!important;
}

/* TOOLTIP */

[tooltip]{
    position:relative!important;
    display:inline-block!important;
}

[tooltip]::before {
    content: ""!important;
    position: absolute!important;
    top:-6px!important;
    left:50%!important;
    transform: translateX(-50%)!important;
    border-width: 4px 6px 0 6px!important;
    border-style: solid!important;
    border-color: rgba(255,255,255,1) transparent transparent     transparent!important;
    z-index: 9999!important;
    opacity:0!important;
    -webkit-box-shadow: 3px 4px 10px 0px rgba(0,0,0,0.22)!important;
    -moz-box-shadow: 3px 4px 10px 0px rgba(0,0,0,0.22)!important;
    box-shadow: 3px 4px 10px 0px rgba(0,0,0,0.22)!important;
}

[tooltip-position='left']::before{
    left:0%!important;
    top:50%!important;
    margin-left:-12px!important;
    transform:translatey(-50%) rotate(-90deg)!important;
}

[tooltip-position='top']::before{
    left:50%!important;
}

[tooltip-position='buttom']::before{
    top:100%!important;
    margin-top:8px!important;
    transform: translateX(-50%) translatey(-100%) rotate(-180deg)!important;
}

[tooltip-position='right']::before{
    left:100%!important;
    top:50%!important;
    margin-left:1px!important;
    transform:translatey(-50%) rotate(90deg)!important;
}

[tooltip]::after {
    content: attr(tooltip)!important;
    position: absolute!important;
    left: 50%!important;
    top: -6px!important;
    -webkit-transform: translateX(-50%) translateY(-100%)!important;
    transform: translateX(-50%) translateY(-100%)!important;
    background: rgba(255,255,255,1)!important;
    text-align: center!important;
    color: #1e3560!important;
    padding: 6px 4px!important;
    font-size: 14px!important;
    min-width: 80px!important;
    border-radius: 8px!important;
    pointer-events: none!important;
    padding: 10px!important;
    z-index: 9998!important;
    opacity: 0!important;
    -webkit-box-shadow: 3px 4px 10px 0px rgba(0,0,0,0.22)!important;
    -moz-box-shadow: 3px 4px 10px 0px rgba(0,0,0,0.22)!important;
    box-shadow: 3px 4px 10px 0px rgba(0,0,0,0.22)!important;
    font-family: 'GeogrotesqueRegular' !important;
}

[tooltip-position='left']::after{
    left:0%!important;
    top:50%!important;
    margin-left:-8px!important;
    transform: translateX(-100%)   translateY(-50%)!important;
}
  
[tooltip-position='top']::after{
    left:50%!important;
}

[tooltip-position='buttom']::after{
    top:100%!important;
    margin-top:8px!important;
    transform: translateX(-50%) translateY(0%)!important;
}

[tooltip-position='right']::after{
    left:100%!important;
    top:50%!important;
    margin-left:8px!important;
    transform: translateX(0%)   translateY(-50%)!important;
}

[tooltip]:hover::after,[tooltip]:hover::before {
     opacity:1!important;
}

  /* Sweet Alert */
  .swal2-cancel.btn.btn-danger{
    margin-right: 10px;
  }

/* MODAL */

.modal-content {
    padding: 0px!important;
}

.modal-header {
    padding-bottom: 0px!important;
}

/* BOTÕES SWEET ALERT  */

.swal2-cancel.swal2-styled {
    /* text-align: left!important;
    min-width: 100px!important; */
    font-size: 0.9rem!important;
    padding: 0.375rem 0.75rem!important;
    color: #5A738E!important;
    background-color: #fff!important;
    border-color: #ccc!important;
    line-height: 0!important;
    border-radius: 0.4rem!important;
    height:34px!important;
    cursor: pointer!important;
    margin:3px!important;
    float:right!important;
    border-width: 2px!important;
    border-style: solid!important;
    border-color: #E6E9ED!important;
    border-image: none!important;
    display: block;
}

.swal2-cancel.swal2-styled:hover {
    color: #333!important;
    background-color: #e6e6e6!important;
    border-color: #adadad!important;
}

.swal2-cancel.swal2-styled:before {
    font-family: FontAwesome!important;
    content: "\f057 \00a0 \00a0" !important;
}


.swal2-confirm.swal2-styled {
    /* text-align: left!important;
    min-width: 100px!important; */
    font-size: 0.9rem!important;
    padding: 0.375rem 0.75rem!important;
    color: #fff!important;
    background-color:#1e3560!important;
    border-color: #1e3560!important;
    line-height: 0!important;
    border-radius: 0.4rem!important;
    height:34px!important;
    cursor: pointer!important;
    margin:3px!important;
    float:right!important;
    border-width: 2px!important;
    border-style: solid!important;
    border-color: #E6E9ED!important;
    border-image: none!important;
}

.swal2-confirm.swal2-styled:hover {
    background-color: #31548c!important;
}

.swal2-confirm.swal2-styled:before {
    font-family: FontAwesome!important;
    content: "\f00c \00a0 \00a0" !important;
}

.swal2-confirm.swal2-styled:focus {
    outline: none!important;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px rgba(252, 181, 21, 0.4)!important;
}

